
h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}
body{
  font-family: 'Montserrat', sans-serif;
}


#title {
  background-color: #f26d7e;
/*   min-height: 90vh; */
  color: white;
}

.container-fluid {
  padding: 3% 10%;

}
.navbar {
  padding-bottom: 4.5rem;
  font-size: 1.2rem;
}

 /* Bara de navigare */

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 8px;
}
.nav-link {
  font-size: 1.2rem;
}
.download-button {
  margin: 8% 3% 5% 0;
}
.title-img {
  /* width: 60%; */
  /* transform: rotate(25deg); */
}

#features {
  position: relative;
  text-align: center;
}

 /* partea a doua */
.feature-heading {
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.feature-text{
  font-family:"Montserrat";
  font-weight: 300;
  color: #807a7a;
  font-size: 1rem;
  width: 45%;
  margin: auto auto 150px auto;
}
.check-btn{
  color:#ff4c68;
  padding-top: 150px;
  padding-bottom: 30px;
}
.check-btn:hover{
  color:#db0000;
}

.bullseye-btn {
  color:#ff4c68;
  padding-top: 150px;
  padding-bottom: 30px;
}
.bullseye-btn:hover{
  color:#db0000;
}

.heart-btn{
   color:#ff4c68;
   padding-top: 150px;
   padding-bottom: 30px;
}
.heart-btn:hover {
  color:#db0000;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.testiomanials-img{
  border-radius: 50%;
  background-color: #ff4c68;
  width: 50%;
}
.carousel-item{
    padding: 7% 15%;
}

#press {
  text-align: center;
  background-color: #ff4c68;
  padding-bottom: 3%;
  padding-top: 2%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  font-family: 'Montserrat';
}
.row{
  padding-top:3%;
}
.card {
        height: 100%;
        display: flex;
    }
.card-header{
  text-align: center;
}
.card-body {
  text-align: center;
}
.card-footer{
  background-color: white;
  text-align: center;
}
.btn-block {
  width: 100%;
}

#cta {
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  background-color: #ff4c68;
  padding: 2% 16px 2% 16px;
}
#footer{
  text-align: center;
  font-family: 'Ubuntu';
    background-color: #ff4c68;
    padding-bottom: 16px;
}

@media (max-width: 910px) {
  #title {
    text-align: center;
  }
  .title-text {
    font-size: 3.5rem;
  }
}
